.hd2{
    font-size: 21px;
}

.te2{
    font-size: 17px;
    font-family: Bahnschrift, Times, serif;
}

.te1{
    font-family: "Comic Sans MS", Times, serif;
    font-weight: 400;
}

.c1{
    color: rgb(212, 35, 35);
    font-family: "Segoe Print", Times, serif;
}

.c2{
    font-family: "Segoe Print", Times, serif;
    color: rgb(212, 35, 35);

}